{# 延伸 base.twig #}
{% extends "base.twig" %}

{# 頁面標題 #}
{% block title %}主頁{% endblock title %}

{# html頭 #}
{% block head %}
  {{ parent() }}
{% endblock head %}

{# 內容 #}
{% block content %}
  <ol>
  {% for book in results %}
    <li><a href="/discovery/book/{{ book.BookNumber }}" target="_self">{{ book.Title }}</a>
    </li>
  {% endfor %}
  </ol>
{% endblock %}

{# html腳 #}
{% block footer %}
  {{ parent() }}
{% endblock footer %}