{# 延伸 base.twig #}
{% extends "base.twig" %}

{# 頁面標題 #}
{% block title %}主頁{% endblock title %}

{# html頭 #}
{% block head %}
  {{ parent() }}
{% endblock head %}

{# 主頁內容 #}
{% block content %}
<img src="images/manni-library-logo.png" alt=""><h1>Manni圖書館</h1>
<form action="/discovery" method="get" id="searchForm">
  <label for="searchBar">搜尋：</label>
  <input type="text" name="search" id="searchBar" value="學">
  <button type="submit">送出</button>
</form>
{% endblock %}

{% block extraScript %}
  {{ parent() }}
{% endblock extraScript %}
{# html腳 #}
{% block footer %}
  {{ parent() }}
{% endblock footer %}