:root {
  --color-1: #05386B;
  --color-3: #379683;
  --color-5: #5cdb95;
  --color-7: #8ee4af;
  --color-9: #edf5e1;
}

html {
  display: block;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeLegibility;
}

body, blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: content-box;
  border-width: 0px;
  border-style: solid;
  word-wrap: break-word;
}

/* body */
body.dark {
  position: relative;
  min-height: 100%;
  font-feature-settings: "kern";
  background: var(--color-9);
  color: var(--color-1);
  padding-bottom: 2rem;
}

/* navigation bar */
nav {
  position: fixed;
  width: 100%;
  background: inherit;
  z-index: 1;
  /* backdrop-filter: blur(10px); */
}

nav > ul {
  display: flex;
  padding: .5rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block: 0em;
  max-width: 768px;
}

nav > ul > li {
  display: flex;
  align-items: center;
  padding: .5rem;
}

/* main content */
#content {
  padding-top: 3.5em;
}